name: Build and Release piango

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux, windows, darwin]
        arch: [amd64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependancies
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev
          
      - name: Build binary
        run: |
          mkdir -p build
          EXT=""
          if [[ "${{ matrix.os }}" == "windows" ]]; then EXT=".exe"; fi
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -o build/piango-${{ matrix.os }}-${{ matrix.arch }}${EXT} main.go

      - name: Archive binary
        run: |
          cd build
          EXT=""
          if [[ "${{ matrix.os }}" == "windows" ]]; then EXT=".exe"; fi
          FILENAME=piango-${{ matrix.os }}-${{ matrix.arch }}${EXT}
          cp ../COPYING .
          zip ${{ runner.temp }}/piango-${{ matrix.os }}-${{ matrix.arch }}.zip $FILENAME COPYING
        shell: bash

      - name: Upload artifact for release
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}-binary
          path: ${{ runner.temp }}/piango-${{ matrix.os }}-${{ matrix.arch }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
